@charset "UTF-8";
/*typo*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("Alafrancaise.html");
@import url("index.html");
@import url("lanoteenchentee.html");
@import url("lapalettedugout.html");
@import url("ledelicedessens.html");
.catégories {
	overflow: hidden;
	cursor: pointer;
	-webkit-animation: itemAppear
		0.6s;
	animation: itemAppear
		0.6s;
}

body,
html {
	margin: 0;
	width: 100%;
	font-family: "roboto",
		"sans-serif";
}

.container {
	margin: auto;
}

.header {
	padding: 1rem;
	text-align: center;
	font-family: "skykhand",
		"cursive";
	margin: 0;
}

body {
	font-family: "roboto",
		"sans-serif";
	color: inherit;
	font-size: 2rem;
	font-weight: 100;
	line-height: 1.5;
}

textarea {
	font-family: "roboto",
		"sans-serif";
	font-weight: 100;
	font-size: 2rem;
}

h2 {
	font-size: 3.5rem;
	line-height: 3.5rem;
	font-weight: 900;
}

a {
	text-decoration: none;
	color: white;
}

header {
	max-width: 100%;
	-webkit-box-shadow: 0
		0
		0.5rem
		rgba(
			0,
			0,
			0,
			0.25
		);
	box-shadow: 0
		0
		0.5rem
		rgba(
			0,
			0,
			0,
			0.25
		);
	padding: 1rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

header
	img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	margin-top: 1rem;
	width: 40%;
	max-width: 25%;
	min-width: 150px;
}

@media (max-width: 800px) {
	footer {
		background-color: #131313;
		width: 96%;
		height: 14rem;
	}
	footer
		.logo-ohmyfood {
		width: 7rem;
		margin-bottom: 2rem;
	}
	footer
		.icon_footer {
		width: 3rem;
		margin-left: -0.5rem;
	}
	footer
		.footer_liste_texte_logo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	footer
		.icon_footer {
		height: 20px;
	}
	footer
		a {
		color: white;
	}
}

/*Loader*/
.loader {
	width: 100%;
	height: 100%;
	background-color: black;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 0;
	position: absolute;
	-webkit-animation: findout
		1.5s;
	animation: findout
		1.5s;
	opacity: 0;
	position: fixed;
	scroll-behavior: unset;
}

@-webkit-keyframes findout {
	0% {
		opacity: 100%;
		z-index: 3;
	}
	99% {
		opacity: 100%;
		z-index: 3;
	}
	100% {
		opacity: 0%;
		z-index: 3;
	}
}

@keyframes findout {
	0% {
		opacity: 100%;
		z-index: 3;
	}
	99% {
		opacity: 100%;
		z-index: 3;
	}
	100% {
		opacity: 0%;
		z-index: 3;
	}
}

.lettre {
	color: blueviolet;
	font-size: 20px;
	letter-spacing: 15px;
	-webkit-animation: fash
		0.9s
		linear;
	animation: fash
		0.9s
		linear;
	-webkit-animation-name: flash;
	animation-name: flash;
	z-index: 3;
}

@-webkit-keyframes flash {
	0% {
		color: mediumorchid;
		z-index: 3;
	}
	90% {
		color: tomato;
		z-index: 3;
	}
	100% {
		color: coral;
		z-index: 3;
	}
}

@keyframes flash {
	0% {
		color: mediumorchid;
		z-index: 3;
	}
	90% {
		color: tomato;
		z-index: 3;
	}
	100% {
		color: coral;
		z-index: 3;
	}
}

.lettre:nth-child(1) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.lettre:nth-child(2) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.lettre:nth-child(3) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.lettre:nth-child(4) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.lettre:nth-child(5) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.lettre:nth-child(6) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.lettre:nth-child(7) {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.lettre:nth-child(8) {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.lettre:nth-child(9) {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

.lettre.lettre:nth-child(10) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.fondu-out {
	opacity: 0;
	-webkit-transition: opacity
		0.4s
		ease-out;
	transition: opacity
		0.4s
		ease-out;
}

.blanc {
	color: white;
}

.container {
	margin: auto;
	width: 100%;
	height: 100%;
}

.header {
	max-width: 100%;
}

.header_container {
	max-height: 100%;
	width: auto;
	max-width: 840px;
	margin: 0
		auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.image_header {
	max-width: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.localisation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f3f3f3;
	font-size: 1.2rem;
	font-weight: 200;
	padding: 1rem;
}

.localisation
	.icon_localisation {
	margin-right: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 1rem;
}

.explorer {
	text-align: center;
	padding: 2rem;
	padding-top: 2rem;
	background-color: #fafafa;
	height: 13rem;
}

.explorer
	h2 {
	margin: 0;
}

.explorer
	p {
	margin: 1rem
		0
		0
		0;
	font-size: 1rem;
	line-height: initial;
	font-weight: lighter;
	color: #828282;
	margin-bottom: 3rem;
}

.explorer
	a {
	border: 0;
	padding: 1.5rem
		2rem;
	border-radius: 100px;
	background: -webkit-gradient(
		linear,
		left
			top,
		left
			bottom,
		from(
			#ff79da
		),
		to(
			#9356dc
		)
	);
	background: linear-gradient(
		#ff79da,
		#9356dc
	);
	padding: 0.8rem;
}

.explorer
	a
	a {
	color: white;
}

/* TAILLE DES COEURS */
.img_icon_coeur {
	height: 2rem;
	position: absolute;
	bottom: 1.2rem;
	right: 0;
}

.img_icon_coeur_gradient {
	height: 1.8rem;
	position: absolute;
	bottom: 1.25rem;
	right: 0;
}

/* ANIMATION SURVOL COEUR */
.icon_coeur {
	opacity: 1;
}

.icon_coeur:hover {
	opacity: 0;
}

.img_icon_coeur_gradient {
	opacity: 0;
}

.img_icon_coeur_gradient:hover {
	opacity: 1;
}

.fonctionnement {
	padding: 2rem;
}

ul {
	padding: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

ul
	+ li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ol {
	padding: 0;
}

li {
	padding: 1.5rem;
	height: 1rem;
	margin: 1rem
		0
		1rem
		0rem;
	-webkit-box-shadow: 0.2rem
		0.2rem
		0.2rem
		rgba(
			0,
			0,
			0,
			0.125
		);
	box-shadow: 0.2rem
		0.2rem
		0.2rem
		rgba(
			0,
			0,
			0,
			0.125
		);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 20px;
	position: relative;
	display: flex;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
	background-color: #fafafa;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.number {
	background-color: #9356dc;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: white;
	position: absolute;
	left: -0.9rem;
}

.violet {
	background-color: #e5cffd;
}

li
	img {
	height: 20px;
	margin-left: 0.5rem;
}

.texte {
	position: absolute;
	margin-left: 4rem;
}

.restaurants {
	padding: 2rem;
	background-color: #fafafa;
}

.restaurants
	.restaurant_titre {
	margin: 1rem
		0
		1rem
		0;
}

.restaurants
	.vignettes
	.vignette {
	height: 22rem;
	overflow: hidden;
	display: block;
	background-color: white;
	border-radius: 20px;
	position: relative;
	margin-bottom: 2rem;
	-webkit-box-shadow: 0.2rem
		0.2rem
		0.2rem
		rgba(
			0,
			0,
			0,
			0.125
		);
	box-shadow: 0.2rem
		0.2rem
		0.2rem
		rgba(
			0,
			0,
			0,
			0.125
		);
	margin: 0
		auto
		2rem;
	width: 70%;
}

.restaurants
	.vignettes
	figure {
	border-radius: 30px
		0
		0;
	overflow: hidden;
	height: 80%;
	width: 100%;
	margin: 0;
}

.restaurants
	.vignettes
	figure
	.vignette__img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
}

.restaurants
	.vignette_indication_nouveau {
	background-color: #99e2d0;
	padding: 0.5rem;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: #1b6150;
}

.restaurants
	.vignette_div {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.restaurants
	.vignette_titre {
	color: black;
	margin: 0.5rem
		0
		0
		1rem;
	font-size: 1.3rem;
	font-weight: bolder;
}

.restaurants
	.vignette_sous_titre {
	color: black;
	margin-left: 1rem;
	margin-bottom: 2rem;
	font-size: 1rem;
	font-weight: 100;
}

.menu_bouton {
	position: absolute;
	bottom: -1.2rem;
	right: -2rem;
}

footer {
	position: absolute;
	max-width: 100%;
}

footer
	.footer_container {
	padding-top: 2rem;
	background-color: #131313;
	width: 100%;
	height: 14rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

footer
	.logo-ohmyfood {
	width: 7rem;
	margin-bottom: 2rem;
}

footer
	.icon_footer {
	width: 3rem;
	margin-left: -0.5rem;
}

footer
	.footer_liste_texte_logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

footer
	.icon_footer {
	height: 20px;
}

footer
	a {
	color: white;
}

@media (min-width: 360px) and (max-width: 799px) {
	.image_header {
		max-height: 32rem;
	}
	.menu_contenaire {
		margin-top: -35%;
	}
	.localisation {
		margin-top: 0.3rem;
	}
	.explorer {
		padding-top: 2rem;
	}
	.restaurants
		.vignette_titre {
		font-size: 1rem;
	}
	.restaurants
		.vignette_sous_titre {
		font-size: 0.8rem;
		margin-top: -1rem;
	}
	.restaurants
		.vignettes
		.vignette {
		height: 18rem;
		width: 100%;
	}
}

@media (min-width: 800px) {
	body {
		margin: 0;
		max-width: none;
		margin: 0
			auto;
	}
	header {
		max-width: 100%;
		height: 112px;
		position: fixed;
		top: 0;
		background-color: white;
		z-index: 3;
	}
	.header_container {
		height: 100%;
		width: 100%;
		max-width: 840px;
		margin: 0
			auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	main {
		position: relative;
		top: 112px;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		width: 100%;
	}
	.img_bg {
		height: 100vh;
		position: fixed;
		top: 0;
		margin-top: 3rem;
	}
	.menu_contenaire {
		margin: auto;
		position: relative;
		top: 150px;
	}
	.image_header {
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.footer {
		top: 190px;
		position: inherit;
		width: 100%;
		height: auto;
	}
	.footer_container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 2rem;
		background-color: #131313;
		width: 100%;
		height: 14rem;
		padding: 2rem;
		position: absolute;
		top: 190px;
	}
	footer
		.logo-ohmyfood {
		margin: 0
			3rem
			2rem
			0;
	}
	li {
		margin: 1rem;
		width: 18rem;
	}
	ol {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.vignettes {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: auto;
	}
	.vignette {
		min-width: 40%;
		max-width: 30rem;
		margin: 0
			auto
			2rem;
	}
}

.explorer
	a {
	-webkit-box-shadow: lightslategray;
	box-shadow: lightslategray;
}

header {
	max-width: 100%;
	-webkit-box-shadow: 0
		0
		0.5rem
		rgba(
			0,
			0,
			0,
			0.25
		);
	box-shadow: 0
		0
		0.5rem
		rgba(
			0,
			0,
			0,
			0.25
		);
	padding: 1rem;
}

header
	img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	margin-top: 2rem;
	width: 40%;
	margin-top: 0;
}

body,
html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "roboto",
		"sans-serif";
}

body {
	font-family: "roboto",
		"sans-serif";
	color: inherit;
	font-size: 1rem;
	font-weight: 100;
	line-height: 1.5;
}

textarea {
	font-family: "roboto",
		"sans-serif";
	font-weight: 100;
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
	line-height: initial;
	font-weight: bolder;
}

a {
	text-decoration: none;
	color: black;
}

.image_header {
	max-width: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.menu_bouton {
	position: absolute;
	right: 0;
	top: 25px;
	margin-right: 3%;
	margin-bottom: 1rem;
	border-style: hidden;
	background: none;
	margin-top: 2.9rem;
}

.menu_contenaire {
	margin: auto;
	border-radius: 40px
		40px
		0
		0;
	background-color: #f6f6f6;
	position: relative;
	max-width: 800px;
	margin-top: -35%;
}

.menu_contenaire_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: "Shrikhand";
	padding-left: 1rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: auto;
}

.menu_contenaire_titre {
	margin-right: 2rem;
}

.filet {
	width: 40px;
	height: 3px;
	margin: 5px
		0
		12px
		0;
	background-color: #99e2d0;
}

.menu_contenaire_like {
	height: 20px;
	border: none;
}

/* TAILLE DES COEURS */
.img_icon_coeur {
	height: 2rem;
	position: absolute;
	bottom: 1.2rem;
	right: 0;
}

.img_icon_coeur_gradient {
	height: 1.8rem;
	position: absolute;
	bottom: 1.35rem;
	right: -0.03rem;
}

/* ANIMATION SURVOL COEUR */
.icon_coeur {
	opacity: 1;
}

.icon_coeur:hover {
	opacity: 0;
}

.img_icon_coeur_gradient {
	opacity: 0;
}

.img_icon_coeur_gradient:hover {
	opacity: 1;
}

article {
	margin-left: 1rem;
	color: white;
}

article
	h3 {
	font-weight: 100;
	margin: 0;
}

.catégories {
	padding: 1rem
		0
		1rem
		1rem;
	background-color: white;
	border-radius: 15px;
	position: relative;
	height: 3rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	-webkit-box-shadow: 0.2rem
		0.2rem
		0.2rem
		rgba(
			0,
			0,
			0,
			0.125
		);
	box-shadow: 0.2rem
		0.2rem
		0.2rem
		rgba(
			0,
			0,
			0,
			0.125
		);
	overflow: hidden;
	cursor: pointer;
	-webkit-animation: apparition
		ease-out
		1.2s;
	animation: apparition
		ease-out
		1.2s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catégories:hover
	.icon_check {
	-webkit-transform: rotate(
		-360deg
	);
	transform: rotate(
		-360deg
	);
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.catégories:hover
	.menu_item_icon_check {
	margin: -1rem
		0
		0
		1rem;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
}

.catégories
	.out {
	margin: -1rem -4rem
		0
		1rem;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
}

@-webkit-keyframes apparition {
	from {
		opacity: 0;
		-webkit-transform: translateY(
			40px
		);
		transform: translateY(
			40px
		);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(
			0
		);
		transform: translateY(
			0
		);
	}
}

@keyframes apparition {
	from {
		opacity: 0;
		-webkit-transform: translateY(
			40px
		);
		transform: translateY(
			40px
		);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(
			0
		);
		transform: translateY(
			0
		);
	}
}

.delay1 {
	-webkit-animation: apparition
		ease-out
		0.5s;
	animation: apparition
		ease-out
		0.5s;
}

.delay2 {
	-webkit-animation: apparition
		ease-out
		0.8s;
	animation: apparition
		ease-out
		0.8s;
}

.delay3 {
	-webkit-animation: apparition
		ease-out
		1.1s;
	animation: apparition
		ease-out
		1.1s;
}

.delay4 {
	-webkit-animation: apparition
		ease-out
		1.3s;
	animation: apparition
		ease-out
		1.3s;
}

.delay5 {
	-webkit-animation: apparition
		ease-out
		1.5s;
	animation: apparition
		ease-out
		1.5s;
}

.delay6 {
	-webkit-animation: apparition
		ease-out
		1.7s;
	animation: apparition
		ease-out
		1.7s;
}

.delay7 {
	-webkit-animation: apparition
		ease-out
		1.8s;
	animation: apparition
		ease-out
		1.8s;
}

.delay8 {
	-webkit-animation: apparition
		ease-out
		2s;
	animation: apparition
		ease-out
		2s;
}

.delay9 {
	-webkit-animation: apparition
		ease-out
		2s;
	animation: apparition
		ease-out
		2s;
}

h4 {
	font-size: 1.1rem;
	font-weight: 900;
	margin: 0;
}

p {
	font-size: 1rem;
	font-weight: 100;
	margin: 0
		0
		1rem
		0;
}

.menu_item_titre {
	white-space: nowrap;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.menu_item_description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 80%;
}

.menu_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.menu_item_header {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 160px;
}

.menu_item_prix {
	margin-top: 0.8rem;
}

.lien_retour {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.retour {
	height: 1.5rem;
	position: absolute;
	left: -4rem;
}

.icon_check {
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bouton {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 2rem
		2rem
		3rem
		2rem;
}

.commander_bouton {
	border: 0;
	border-radius: 100px;
	background: -webkit-gradient(
		linear,
		left
			top,
		left
			bottom,
		from(
			#ff79da
		),
		to(
			#9356dc
		)
	);
	background: linear-gradient(
		#ff79da,
		#9356dc
	);
	color: white;
	padding: 0.5rem
		2rem;
	font-size: 1rem;
	-webkit-box-shadow: 0.2rem
		0.2rem
		0.2rem
		rgba(
			0,
			0,
			0,
			0.125
		);
	box-shadow: 0.2rem
		0.2rem
		0.2rem
		rgba(
			0,
			0,
			0,
			0.125
		);
}

.commander_bouton:hover {
	background: #ff7ada;
	-webkit-box-shadow: 0
		0.7rem
		0.7rem
		rgba(
			0,
			0,
			0,
			0.25
		);
	box-shadow: 0
		0.7rem
		0.7rem
		rgba(
			0,
			0,
			0,
			0.25
		);
}

footer {
	position: absolute;
	width: 100%;
}

footer
	.footer_container {
	padding-top: 2rem;
	background-color: #131313;
	width: 100%;
	padding: 2rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

footer
	.logo-ohmyfood {
	width: 7rem;
	margin-bottom: 2rem;
}

footer
	.icon_footer {
	width: 3rem;
	margin-left: -0.5rem;
}

footer
	.footer_liste_texte_logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

footer
	.icon_footer {
	height: 20px;
}

footer
	a {
	color: white;
}

main {
	position: relative;
}

@media (min-width: 320px) and (max-width: 799px) {
	.menu_contenaire {
		margin-top: -35%;
	}
	.footer_container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 2rem;
		background-color: #131313;
		width: 100%;
		height: 14rem;
		padding: 2rem;
		position: absolute;
		top: 190px;
		margin-top: -13rem;
	}
	.header_container {
		height: 100%;
		width: 100%;
		max-width: 840px;
		margin: 0
			auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media (min-width: 800px) {
	body {
		margin: 0;
		max-width: none;
		margin: 0
			auto;
	}
	header {
		width: 100%;
		height: 80px;
		position: fixed;
		top: 0;
		background-color: white;
		z-index: 3;
	}
	.header_container {
		height: 100%;
		width: 100%;
		max-width: 840px;
		margin: 0
			auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	main {
		position: relative;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		width: 100%;
	}
	.img_bg {
		height: 100vh;
		position: fixed;
		top: 0;
		margin-top: 3rem;
		width: inherit;
	}
	.menu_contenaire {
		margin: auto;
		position: relative;
		top: 150px;
	}
	.image_header {
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.footer {
		top: 190px;
		position: inherit;
		width: 100%;
		height: 14rem;
		margin-top: -4rem;
	}
	.footer_container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 2rem;
		background-color: #131313;
		width: 100%;
		height: 10rem;
		padding: 2rem;
		position: absolute;
		top: 190px;
		margin-top: -3rem;
	}
	footer
		.logo-ohmyfood {
		margin: 0
			3rem
			2rem
			0;
	}
}
/*# sourceMappingURL=main.css.map */
